extends layout

block content
	.row.green.lighten-4
		.col.s3
			.collection
				- each article, i in articles
							a.collection-item(href='/articles/#{article._id}') #{article.title}
		.col.s9.white
			- each article, i in articles
				.article-item
						img(src='#{article.image1_url}', alt='http://placehold.it/250x250')
						h3
							= article.title
						span
							p
								= article.date
						p
							!{article.text}
							br
							br
						.card-holder
							img.img-card(src='#{article.image2_url}', alt='http://placehold.it/450x250')
							img.img-card(src='#{article.image3_url}', alt='http://placehold.it/450x250')
							img.img-card(src='#{article.image4_url}', alt='http://placehold.it/450x250')
							img.img-card(src='#{article.image5_url}', alt='http://placehold.it/450x250')
				.divider