extends english_layout

block content
	.container
		.section
				.row
					.col.s12.m6
						.icon-block
							h5.center Term Dates
							.card-panel
								p
									!{update3.text}
					.col.s12.m6
						.icon-block
							h5.center School News
							.card-panel
								p
									!{update4.text}
	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12 The best preparation for tomorrow is doing your best today.
		.parallax
			img(src='images/14.jpeg', alt='Unsplashed background img 2')
	.container
		.section
			.row
						h5.center Our Programs
			.row
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="images/book.png" alt="")
						h5.center Chinese Language Courses
						p.light
								| New Century Chinese Language School was founded in 2000, at the turn of the new century. The timing determined the name of the school. On a more profound level, it represents our wish to establish an environment in the beautiful city of Melbourne where Chinese language and culture can be shared and passed on into a new age. 
								br
								br
								| It is our sincere wish that all of our students can learn, grow and endeavour to be successful and outstanding citizens, both in Australia and around the world. New Century Chinese Language School has a record for impressive academic performance, with consecutive years of success in VCE Chinese First, Second, and Second language advanced.
								a(href='/english/enrol/language') ［ read more ］
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="images/hat.png" alt="")
						h5.center Learning Centre
						p.light
								| New Century Learning Centre Tutoring programs are tailored to the needs of students who want to obtain a scholarship at the Year 4, Year 6 and Year 8 levels. This includes students who want to gain a position in accelerated programs of reputable government schools (e.g. Balwyn High, University High); and those who want to pass the entrance exams for Melbourne High，MacRobertson Girls, Nossal High, and Cory High.
								br 
								br
								| The program also suits those who want to lay a solid foundation for their future academic endeavours. Classes are run on weekends during school terms and a more intensive programme is also run during school holidays.
								a(href='/english/enrol/learning') ［ read more ］
			.divider
	.container
		.section
			.row
						h5.center Latest News
			.divider
			.card-holder
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article1.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article1._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right close
										p
											!{article1.text}
											a(href='articles/#{article1._id}')
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article2.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article2._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right close
										p
											!{article2.text}
											a(href='articles/#{article2._id}')
		.row
			.button-container
							a.waves-effect.waves-light.btn.button-right(href='/english/news')
								i.material-icons.right language
								| More News

	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12.light Keep your eyes on the stars, and your feet on the ground.
		.parallax
			img(src='images/1.jpeg', alt='Unsplashed background img 3')
	
