extends english_layout

block content
	section
			.row
				.col.s12.m6
					.icon-block
						h5.center Term Dates
						.card-panel
							p
								!{update3.text}
				.col.s12.m6
					.icon-block
						h5.center School News
						.card-panel
							p
								!{update4.text}
	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12.light 齹鑶鸓 墂嫫嵾 媝寔嵒 桾殍 膣, 棰椻楒 駓駗鴀 鉾 墡嬇, 毼 簥翷臒 訬軗郲 殠漊 蕡蕇蕱 肵苂苃 椸楢楩 樀樛 蝺
		.parallax
			img(src='images/14.jpg', alt='Unsplashed background img 2')
	.container
		.section
			.row
						h5.center Our Programs
			.row
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="images/book.png" alt="")
						h5.center Chinese Language Courses
						p.light
								| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
								a(href='/english/enrol/language') read more
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="images/hat.png" alt="")
						h5.center Learning Centre
						p.light
								| 齹鑶鸓 墂嫫嵾 媝寔嵒 桾殍 膣, 棰椻楒 駓駗鴀 鉾 墡嬇, 毼 簥翷臒 訬軗郲 殠漊 蕡蕇蕱 肵苂苃 椸楢楩 樀樛 蝺, 妶岯 暕 蔝蓶蓨 螏螉褩 艎艑蔉, 唲堔 酳 磝磢磭 軹軦軵 甀 醆鋍鞎 鬖鰝鰨 璈皞緪 橀槶, 桏毢涒 礯籔羻 峷敊浭 腠腶 蒏 滍溾滘 鱙鷭黂 嶕憱撏 觨誖 摮 譖貚趪 臡虈觿 髬 艎艑, 葋蒎 歾炂盵 嗼嗹墋 脬舑莕 跿 褅 豇貣 軥軱逴 葠蜄蛖, 緦 瘱瘵瘲 轒醭鏹 溛滁溒 紞紏
								a(href='/english/enrol/learning') read more
			.divider
	.container
		.section
			.row
						h5.center Latest News
			.divider
			.card-holder
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article1.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article1._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right close
										p
											!{article1.text}
											a(href='articles/#{article1._id}')
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article2.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article2._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right close
										p
											!{article2.text}
											a(href='articles/#{article2._id}')
		.row
			.button-container
							a.waves-effect.waves-light.btn.button-right(href='/english/news')
								i.material-icons.right language
								| More News

	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12.light 齹鑶鸓 墂嫫嵾 媝寔嵒 桾殍 膣
		.parallax
			img(src='images/1.jpg', alt='Unsplashed background img 3')
	