doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.teal(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/')
          img.logo(src='/images/logo_med.png')
        ul.right.hide-on-med-and-down
          li
            a(href='/english') Home
          li
            a(href='/english/enrol') Enrolments
          li
            a(href='/english/campuses') Campuses
          li
            a(href='/english/contact') Contact
        ul#nav-mobile.side-nav
          li
            a(href='/english') Home
          li
            a(href='/english/enrol') Enrol
          li
            a(href='/english/campuses') Campuses
          li
            a(href='/contact') Contact
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    #index-banner.parallax-container
      .section.no-pad-bot.row
        .button-container
          a.waves-effect.waves-light.btn.button-right(href='/')
            i.material-icons.right language
            | Chinese
        .container
          br
          br
          h1.header.center.teal-text.text-lighten-2.res-text #{title}
          .row.center
            h5.header.col.s12.light.flow-text #{subtitle}
      .parallax
        img(src='http://racetams.net/wp-content/uploads/2014/07/Studying-book.jpg', alt='Unsplashed background img 1')


    block content

    footer.page-footer.teal.flex
      .container.wider
        .row
          .col.l4.s12
            h5.white-text New Century School Office
            p.grey-text.text-lighten-4
              | 14/24 Lakeside Drive,
              br
              | Burwood East VIC 3151
              br
              | info@newcenturyschool.com.au
          .col.l4.s12
            h5.white-text Office Opening Hours
            ul
              li.white-text 9:30AM - 4:30PM
              li.white-text Monday to Friday
          .col.l4.s12
            h5.white-text Contact
            ul
              li.white-text 03 9802 9998 - English
              li.white-text 0403 238 818 - Mandarin
              li.white-text 0400 880 306 - Cantonese
              li.white-text 0430 220 078 - Mandarin
              li.white-text 03 9802 1990 - Fax

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
  script(src='/javascripts/init.js')
