extends layout

block content
	.container
		.section
				.row
					.col.s12.m6
						.icon-block
							h5.center 学校日历
							.card-panel
								p
									!{update1.text}
					.col.s12.m6
						.icon-block
							h5.center 重要信息
							.card-panel
								p
									!{update2.text}
	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12.light 胸怀理想，脚踏实地
		.parallax
			img(src='/images/14.jpeg', alt='Unsplashed background img 2')
	.container
		.section
			.row
						h5.center 我们的课程
			.row
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="/images/book.png" alt="")
						h5.center 中文学校
						p.light
								| 新世纪中文学校成立于2000年，恰好是一个新的世纪的开始。这是我们取名新世纪中文学校的直接原因。 而更深层的意义是：我们立志在墨尔本这块美丽的土地上面向新世纪 ，为海外华人子女的教育尽力， 使他们成为新世纪的人才，不但能立足海外，而且能向世界展现我们炎黄子孙的风采。
								br
								br
								| 新世纪中文学校设有Wheeler Hill, Templestowe, Doncaster和Hawthorn四个分校。 开设中文学前班至VCE12年级全部课程。聘请的中文老师都是有相关教育文凭的经验教师。 而且， 每个分校都由办学人员亲自管理，统一管理，确保了我校的教学质量。
								a(href='/enrol/language') ［ 继续读 ］
				.col.s12.m6
					.icon-block.card-panel
						.center
							img.index-icon-img(src="/images/hat.png" alt="")
						h5.center 教育中心
						p.light
								| 提到孩子考奖学金或精英公校，在墨尔本居住了一段时间的家长们大凡都能想到新世纪学校，因新世纪学校已经连续十三年在私校奖学金和精英公校考试中遥遥领先，取得令人瞩目的成绩。
								br
								br
								| 新世纪教育中心设有Templestowe、Wheeler Hill、Hawthorn、Doncaster和Ashwood五所分校。开设一年级至九年级年级课程，主要科目有：English, Maths, Writing, Science（Physics, Chemestry, General Science）and Children’s literature, 准备考试的年级还补充大量抽象思维训练。聘请的老师都是澳洲本地有相关教育文凭的经验教师。
								a(href='/enrol/learning') ［ 继续读 ］
			.divider
	.container
		.section
			.row
						h5.center 最新消息
			.divider
			.card-holder
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article1.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article1._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article1.title
												i.material-icons.right close
										p
											!{article1.text}
											a(href='articles/#{article1._id}')
							.card
									.card-image.waves-effect.waves-block.waves-light
										img.activator.index-news(src="#{article2.image1_url}")
									.card-content
										span.card-title.activator.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right more_vert
											p
												a(href='articles/#{article2._id}') Read full content...
									.card-reveal
										span.card-title.grey-text.text-darken-4
											p
												= article2.title
												i.material-icons.right close
										p
											!{article2.text}
											a(href='articles/#{article2._id}')
		.row
			.button-container
							a.waves-effect.waves-light.btn.button-right(href='/news')
								i.material-icons.right language
								| More News

	.parallax-container.valign-wrapper
		.section.no-pad-bot
			.container
				.row.center
					h5.header.col.s12.light 世界上最伟大的艺术和最有征服力的武器是语言
		.parallax
			img(src='/images/1.jpeg', alt='Unsplashed background img 3')
