extends layout

block content
	.row.green.lighten-4
		.col.s3
			.collection
				- each article, i in articles
							a.collection-item(href='/articles/#{article._id}') #{article.title}
		.col.s9.white
			.article-item
						img(src='#{article_latest.Image1}', alt='http://placehold.it/250x250')
						h3
							= article_latest.title
						span Author Name - NEWS
						p
							= article_latest.text
							br
							br
						img(src='#{article_latest.Image2}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.Image3}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.Image4}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.Image5}', alt='http://placehold.it/450x250')