extends layout

block content
	.row.green.lighten-4
		.col.s3
			.collection
				- each article, i in articles
							a.collection-item.active(href='/articles/#{article._id}') #{article.title}
		.col.s9.white
			.article-item
						img(src='#{article_latest.image1_url}', alt='http://placehold.it/250x250')
						h3
							= article_latest.title
						span Author Name - NEWS
						p
							= article_latest.text
							br
							br
						img(src='#{article_latest.image2_url}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.image3_url}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.image4_url}', alt='http://placehold.it/450x250')
						img(src='#{article_latest.image5_url}', alt='http://placehold.it/450x250')