extends ../admin_layout

block content
    form.margined(action='/articles/#{article._id}/edit',method='post',name='updatearticle',enctype='application/x-www-form-urlencoded')
        .form-group
            p Title: 
                input#inputTitle(type='text', value='#{article.title}', name='title')
            p Date: 
                input#inputDate(type='text', value='#{article.date}', name='date')
            p
                label(for='content') New content: 
                textarea.form-control#inputText(type='text', value='#{article.text}', name='text' rows="9")
                        |#{article.text}
            p Image 1 url: 
                input#inputImage1_url(type='text', value='#{article.image1_url}', name='image1_url')
            p Image 2 url: 
                input#inputImage2_url(type='text', value='#{article.image2_url}', name='image2_url')
            p Image 3 url: 
                input#inputImage3_url(type='text', value='#{article.image3_url}', name='image3_url')
            p Image 4 url: 
                input#inputImage4_url(type='text', value='#{article.image4_url}', name='image4_url')
            p Image 5 url: 
                input#inputImage5_url(type='text', value='#{article.image5_url}', name='image5_url')
            .switch
                label
                    | 教学园地 (teachers' area)
                    input(name='switch_Activate', type='hidden', value='0')
                    input(id='$Customer_ID', name='switch_Activate', type='checkbox', onclick='switch_Activate(this.id)', checked='', value='1')
                    span.lever
                    |           最新消息 (recent news)
            .switch
                label
                    | Language  - Chinese
                    input(name='switch_Activate', type='hidden', value='0')
                    input(id='$language', name='switch_Activate2', type='checkbox', onclick='switch_Activate2(this.id)', checked='', value='1')
                    span.lever
                    |           English
            p 
                input(type='hidden',value='PUT',name='_method')
            p 
                button#btnSubmit.btn-lg.btn-primary.btn-centre(type='submit').
                        Save