extends ../admin_layout

block content
    h1.
        Title: #{article.title}
    form(action='/articles/#{article._id}/edit',method='post',name='updatearticle',enctype='application/x-www-form-urlencoded')
        p Title: 
            input#inputTitle(type='text', value='#{article.title}', name='title')
        p Text: 
            input#inputText(type='text', value='#{article.text}', name='text')
        p Image url: 
            input#inputImage_url(type='text', value='#{article.image_url}', name='image_url')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Save