extends ../layout

block content
    h1.
        Infophoto #{article._id}
    p Title: #{article.name}
    p Text: #{article.text}
    p Image 1: #{article.image1_url}
    p Image 2: #{article.image2_url}
    p Image 3: #{article.image3_url}
    p Image 4: #{article.image4_url}
    p Image 5: #{article.image5_url}
